@import url(fonts.css);
@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  @apply box-border h-full;
  -webkit-font-smoothing: antialiased;
  font-size: 62.5%; }

body {
  @apply h-full; }

*,
*:before,
*:after {
  box-sizing: inherit; }

*,
*:before,
*:after {
  box-sizing: inherit; }

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield; }

.hide {
  display: none !important; }

body {
  @apply max-w-[1920px] m-auto relative overflow-x-clip bg-[#ffffff] font-nunito; }

#main-nav {
  @apply border-b-2 border-solid border-purple; }
  #main-nav .wrapper {
    @apply mx-[100px]; }
    #main-nav .wrapper .element nav {
      @apply flex items-center justify-between py-[10px]; }
      #main-nav .wrapper .element nav .logo {
        @apply text-[12px] leading-[1] text-center uppercase font-semibold; }
        #main-nav .wrapper .element nav .logo span {
          @apply text-[40px] leading-[1] uppercase text-center font-semibold; }
      #main-nav .wrapper .element nav ul {
        @apply flex items-center gap-16; }
        #main-nav .wrapper .element nav ul li a {
          @apply text-[16px] leading-[24px] py-[26px]; }
      #main-nav .wrapper .element nav .search {
        @apply flex items-center; }
        #main-nav .wrapper .element nav .search input {
          @apply border-2 border-solid border-purple w-full h-[40px] rounded-l-lg px-[10px] py-[5px] text-[16px] leading-[24px] outline-none; }
        #main-nav .wrapper .element nav .search button {
          @apply bg-purple rounded-r-lg p-[5px]; }
          #main-nav .wrapper .element nav .search button img {
            @apply w-full h-[30px]; }

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  @apply bg-white p-[30px] rounded-full; }

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  @apply bg-white p-[30px] rounded-full; }

#us {
  @apply py-[50px]; }
  #us .wrapper .element h2 {
    @apply text-[40px] leading-[48px] text-center text-[#222222]; }
  #us .wrapper .element p {
    @apply text-[18px] leading-[26px] text-center text-[#222222] mt-[10px]; }

#about .wrapper .element {
  @apply flex items-center; }
  #about .wrapper .element .col-left {
    @apply w-1/2; }
  #about .wrapper .element .col-right {
    @apply w-1/2 px-[60px]; }
    #about .wrapper .element .col-right h2 {
      @apply text-[40px] leading-[48px]; }
    #about .wrapper .element .col-right p {
      @apply text-[18px] leading-[26px] my-[20px]; }
    #about .wrapper .element .col-right .btn {
      @apply bg-purple text-white text-[16px] leading-[24px] rounded-md p-[10px] inline-block; }

#story .wrapper .element {
  @apply flex items-center; }
  #story .wrapper .element .col-left {
    @apply w-1/2 px-[60px]; }
    #story .wrapper .element .col-left h2 {
      @apply text-[40px] leading-[48px]; }
    #story .wrapper .element .col-left p {
      @apply text-[18px] leading-[26px] my-[20px]; }
    #story .wrapper .element .col-left .btn {
      @apply bg-purple text-white text-[16px] leading-[24px] rounded-md p-[10px] inline-block; }
  #story .wrapper .element .col-right {
    @apply w-1/2; }

#products {
  @apply py-[50px]; }
  #products .wrapper .element .tabs {
    @apply flex items-center justify-center gap-[50px] py-[30px]; }
    #products .wrapper .element .tabs .active-tab {
      @apply text-blue relative border-b-2 border-solid border-purple font-medium; }
    #products .wrapper .element .tabs li {
      @apply cursor-pointer text-[16px] leading-[24px] border-b-2 border-solid border-transparent hover:border-b-2 hover:border-solid hover:border-purple transition-all duration-300 ease-in-out; }
  #products .wrapper .element .tabs-content .inner-tab {
    @apply hidden; }
    #products .wrapper .element .tabs-content .inner-tab .swiper .swiper-wrapper .swiper-slide h3 {
      @apply text-[16px] leading-[24px] text-center my-[10px]; }
    #products .wrapper .element .tabs-content .inner-tab .bundel {
      @apply grid grid-cols-3 justify-items-center mx-[70px]; }
      #products .wrapper .element .tabs-content .inner-tab .bundel .inner h3 {
        @apply text-[16px] leading-[24px] text-center my-[10px]; }

#experience {
  @apply pb-[50px]; }
  #experience .wrapper {
    @apply mx-[70px]; }
    #experience .wrapper h2 {
      @apply text-[40px] leading-[48px] text-center mb-[30px]; }
    #experience .wrapper .element {
      @apply grid grid-cols-3 justify-items-center gap-10; }
      #experience .wrapper .element .exp-inner {
        @apply flex flex-col items-center py-[20px]; }
        #experience .wrapper .element .exp-inner h3 {
          @apply text-[18px] leading-[26px] font-medium text-center my-[20px]; }
        #experience .wrapper .element .exp-inner p {
          @apply text-[16px] leading-[24px] text-center; }

#contact .wrapper .element {
  @apply flex items-start; }
  #contact .wrapper .element .testimonials {
    @apply w-1/2 bg-no-repeat bg-center h-[400px] py-[20px];
    background-image: url("../assets/images/testi.png");
    background-size: 100% 100%; }
    #contact .wrapper .element .testimonials h2 {
      @apply text-[30px] leading-[38px] text-white text-center mb-[30px] font-semibold; }
    #contact .wrapper .element .testimonials .swiper .swiper-wrapper .swiper-slide p {
      @apply text-[16px] leading-[24px] text-white text-center px-[90px] mb-[20px]; }
    #contact .wrapper .element .testimonials .swiper .swiper-wrapper .swiper-slide h3 {
      @apply text-[20px] leading-[28px] text-white font-medium text-center; }
  #contact .wrapper .element .form {
    @apply w-1/2 px-[50px]; }
    #contact .wrapper .element .form h2 {
      @apply text-[30px] leading-[38px] text-purple text-center mb-[30px] font-semibold; }
    #contact .wrapper .element .form form .form-inner {
      @apply flex items-center gap-5; }
      #contact .wrapper .element .form form .form-inner div {
        @apply w-1/2 mb-[30px]; }
        #contact .wrapper .element .form form .form-inner div label {
          @apply text-left text-[16px] leading-[24px] font-medium w-full block mb-[10px]; }
        #contact .wrapper .element .form form .form-inner div input {
          @apply border-2 border-solid border-purple w-full h-[40px] rounded-lg px-[10px] py-[5px] text-[16px] leading-[24px] outline-none; }
        #contact .wrapper .element .form form .form-inner div select {
          @apply border-2 border-solid border-purple w-full h-[40px] rounded-lg px-[10px] py-[5px] text-[16px] leading-[24px] outline-none; }
    #contact .wrapper .element .form form .btn {
      @apply bg-purple text-white text-[16px] leading-[24px] rounded-md p-[10px] inline-block; }

footer {
  @apply bg-[#080808] py-[100px]; }
  footer .wrapper .element {
    @apply grid grid-cols-4 items-start; }
    footer .wrapper .element div .logo a {
      @apply text-[12px] leading-[1] text-center uppercase font-semibold text-white m-0 block; }
      footer .wrapper .element div .logo a span {
        @apply text-[40px] leading-[1] uppercase text-center font-semibold m-0 inline-block; }
    footer .wrapper .element div span {
      @apply text-white text-[20px] leading-[28px] mb-[10px] block; }
    footer .wrapper .element div ul li a {
      @apply text-[16px] leading-[24px] text-[#a2a2a2] hover:text-white transition-all duration-200 ease-in-out; }
    footer .wrapper .element div a {
      @apply text-white text-[16px] leading-[24px] mb-3 inline-block; }
    footer .wrapper .element div .social {
      @apply flex items-center gap-5; }
      footer .wrapper .element div .social a {
        @apply rounded-full border border-solid border-white p-[5px] hover:border-blue transition-all duration-200 ease-in-out; }
        footer .wrapper .element div .social a img {
          @apply w-[30px]; }
